@page
@model Gav.RazorPages.Pages.Peliculas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pelicula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pelicula.Nombre" class="control-label"></label>
                <input asp-for="Pelicula.Nombre" class="form-control" />
                <span asp-validation-for="Pelicula.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pelicula.Estreno" class="control-label"></label>
                <input asp-for="Pelicula.Estreno" class="form-control" />
                <span asp-validation-for="Pelicula.Estreno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Pelicula.EnCartelera" /> @Html.DisplayNameFor(model => model.Pelicula.EnCartelera))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
