@page
@model Gav.RazorPages.Pages.Tags.BootstrapTagModel
@{
    ViewData["Title"] = "BootstrapTag";
}

<h2>BootstrapTag</h2>

<h4>Modal bootstrap</h4>

<a href="#" bs-toggle-modal="simpleModalFromAnchor">
    Launch modal
</a>
<modal id="simpleModalFromAnchor"
       title="Modal Title">
    <modal-body>
        <h4>Domething happened</h4>
        <p>Something happened</p>
    </modal-body>

</modal>

